@media only screen and (max-width:991px) {
    html {
        font-size: 55%;
    }
    .header {
        padding: 2rem;
    }
}
@media only screen and (max-width:765px) {
    .header #login-btn i {
        display: block;
    }
    .header #login-btn .btn {
        display: none;
    }
    .header .navbar {
        position: absolute;
        top: 99%;
        left: 0;
        right: 0;
        background: #fff;
        border-top: var(--border);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    .header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
    .header .navbar a {
        display: block;
        margin: 2rem;
        font-size: 2rem;
        background: black;
        color: #fff;
        padding: 5px;
    }
    #menu-btn{
        display: block;
    }
    #menu-btn.fa-times{
        transform: rotate(180deg);
    }
}
@media only screen and (max-width:450px) {
    html {
        font-size: 50%;
    }
    .btn{
        display: none;
    }
}