@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100&display=swap');

:root{
    --yellow:yellow;
    --red:red;
    --yellow-light:#fff090;
    --black:#130f40;
    --red:rgb(255, 0, 0);
    --lime:lime;
    --border:.1rem solid gray;
    --box-shadow:0 .5rem 1rem gray;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family:  'Poppins' , sans-serif;
    outline: none;
    border: none;
    transition: all .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top:7rem;
    scroll-behavior: smooth;
}
section{
    padding: 2rem 9%;
}
.btn{
    display: inline-block;
    margin-top: 1rem;
    border-radius: .5rem;
    background: var(--yellow-light);
    font-weight: 500;
    font-size: 1.7rem;
    cursor: pointer;
    padding: .8rem 3rem;
}
.btn:hover{
    background: var(--red);
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 9%;
    transform: captalize;
}
.header .logo{
    font-size: 2.5rem;
    color: var(--black);
    font-weight: bolder;
}
.header .logo span{
    color: var(--red);
}
.header .navbar a{
    font-size:  1.9rem;
    margin: 0 1rem;
    color: var(--black);
}
.header .navbar a:hover{
    color: var(--red);
    transition: 0.4s;
}
.header .btn{
    margin-top: 0;
}
.header #login-btn i{
    font-size: 2.5rem;
    color: var(--black);
    cursor: pointer;
    display: none;
}
#menu-btn{
    font-size: 2.5rem;
    color:var(--black);
    cursor: pointer;
    display: none;
}

.header.active{
    box-shadow: var(--box-shadow);
    padding: 2rem 9%;
}

/* <!--------- Login Form Start ----------> */

.login-form-container{
    position: fixed;
    top: -105%;     /* top: 0; */
    left: 0;
    z-index: 1000;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    opacity: 0;
}
.login-form-container form{
    padding: 2rem;
    margin: 2rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    background: #fff;
    border: var(--border);
    text-align: center;
    width: 50rem;
}
.login-form-container form .buttons{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.login-form-container form  .btn{
    display: block;
    width: 100%;
    margin: .5rem 0;;
}
.login-form-container form h3{
    color: var(--black);
    font-size: 2.5rem;
    padding-bottom: 1rem;
    text-transform: uppercase;
}
.login-form-container form .box{
    margin: .7rem 0;
    width: 100%;
    text-transform: none;
    color:var(--black);
    font-size: 1.6rem;
    padding: 1rem 1.2rem;
    border: var(--border);
    border-radius: .5rem;
}
.login-form-container form p{
    padding: 1rem 0;
    font-size: 1.5rem;
    color: var(--black);
}
.login-form-container form p a{
    color: var(--red);
    text-decoration: underline;
}
.login-form-container #close-login-form{
    position: absolute;
    top: 1.5rem;
    right: 2.5rem;
    font-size: 5rem;
    color: var(--black);
    cursor: pointer;
}
.login-form-container.active{
    top: 0;
    opacity: 1;
}

/* <!--------- Login Form End ------------> */

/* <!--------- Home Section Start ------------> */

.home{
    padding-top: 10rem;
    text-align: center;
    overflow-x: hidden;
}
.home h1{
    font-size: 7.5rem;
    text-transform: uppercase;
    color: var(--black);
}
.home img{
    width: 100%;
    margin: 1rem 0;
}

/* <!--------- Home Section End ------------> */